body{
  background-image: url(../img/metal.jpg) ;
  background-repeat: no-repeat;
  background-position: center 400px;
  background-color: #999;



  }/*your custom CSS here*/

  .heading{
    width:100%;
    height: 400px;
    background-image: url(../img/heading.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-color: #003366;




  }

  .heading h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
    width:100%;
    padding-top: 194px;
    /*border:5px solid #f22;*/
  }
